<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/dashboard.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1335651_k8bmpeoz02i.css">
<link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow-sm text-center" style="background-color: #563d7c">
  <a class=" navbar-brand alert-dark col-sm-3 col-md-2 mr-0 " href="#">大昌集团</a>
  <div style="display: flex">
    <a href="./bbb.html" style=" text-decoration:none;">
      <div  class="haha" style="width:200px;height: 50px; line-height: 50px;color: white"><i class="iconfont icon-diannao-copy"><span style="margin-left: 20px;font-size: 16px">办公</span></i></div>
          </a>
      <a href="./aaa.html" style=" text-decoration:none;">
     <div class="haha" style="width:200px;height: 50px;margin-right: 20px;line-height: 50px;"><i class="iconfont icon-ren"><span  style="margin-left: 20px;font-size: 16px">客户管理</span></i></div>
           </a>

      <a href="#" style=" text-decoration:none;">
      <div class="haha"  style="width:200px;height: 50px;margin-right: 20px;line-height: 50px; "> <i class="iconfont icon-zhinengfenxi"><span  style="margin-left: 20px;font-size: 16px">智能分析</span></i></div>
      </a>
         <div style="width:200px;height: 50px; "></div>
     </div>
    <div class="tubiao" style="display: flex">
    <div style="width: 70px">
     <i class="iconfont icon-lingdang" ></i></div>
     <div style="width: 80px">
     <i class="iconfont icon-xiaoxi" ></i></div>
     <div style="width: 80px">
     <i class="iconfont icon-iconset0208" ></i></div>
     </div>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link text-uppercase " href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar shadow">
      <div class="sidebar-sticky" style="line-height: 20px;">
        <ul class="nav flex-column  ">
         <li class="nav-item">
            <a class="nav-link  xuanxiang" href="#">
             <i class="iconfont icon-gongzuorizhi"> <span class="h5 "style="margin-left: 10px">工作日志</span></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link xuanxiang" href="#">
                <i class="iconfont icon-shenpi"><span class="h5"style="margin-left: 15px">审批</span></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link xuanxiang" href="#">
           <i class="iconfont icon-gonggao"><span class="h5 " style="margin-left: 15px">公告</span></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link xuanxiang" href="#">
            <i class="iconfont icon-tongxin-"> <span class="h5" style="margin-left: 10px">通讯录</span></i>
            </a>
          </li>

        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

      </div>
       <div class="navbar neirong">内容1
           <i class="iconfont icon-shoujihao"style="color: red"></i>
       </div>
        <div class="navbar neirong">内容2</div>
        <div class="navbar neirong">内容3</div>
        <!--  通信录 -->
        <div class="navbar neirong">
            <nav class="navbar navbar-light bg-light justify-content-between shadow-sm">
                <div class="bg-light"style="display: flex; ">
                    <div style="background-color: #007bff;width: 10px;height: 20px;margin-top: 5px"></div>
                    <span class="text-primary h4"style="margin-left: 10px">通讯录</span></div>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="员工名称/手机号" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </nav>
            <table class="table table table-sm table-hover border shadow-sm " style="margin-top: 20px">
                <thead class="thead-light">
                <tr>
                    <th><i class="iconfont icon-zhiyuanziliao"></i> 职员姓名</th>
                    <th><i class="iconfont icon-untitled85"></i> 部门</th>
                    <th><i class=" iconfont icon-zhiye"></i> 职位</th>
                    <th><i class="iconfont icon-shoujihao"></i> 手机号</th>
                    <th><i class="iconfont icon-tubiao209"></i> 邮箱</th>
                    <th><i class="iconfont icon-changyonglogo28"></i> 微信号</th>
                    <th><i class="iconfont icon-web-icon-"></i> QQ号</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>陈宇</td>
                    <td>销售部</td>
                    <td>总经理</td>
                    <td>13203513086</td>
                    <td>740599065@qq.com</td>
                    <td>13203513086</td>
                    <td>740599065</td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
  </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../static/js/jquery-3.4.1.js"></script>
<script src="../static/js/work.js"></script>
</body>
</html>